<h2 mat-dialog-title>{{ titleModal }}</h2>
<form [formGroup]="formPost" #form="ngForm">

  <mat-dialog-content>
    <div class="conten-form-field">
      <mat-form-field appearance="fill">
        <mat-label>Tile</mat-label>
        <input matInput formControlName="title" placeholder="title">
        @if (formPost.controls['title'].invalid) {
          <mat-error>* Campo requerido</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Body</mat-label>
        <textarea matInput formControlName="body"></textarea>
        <mat-hint>Max. 150 characters </mat-hint>
        @if (formPost.controls['body'].invalid) {
          <mat-error>* Campo requerido</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="dialogRef.close();">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
