<h2 mat-dialog-title>{{ titleModal }}</h2>
<form [formGroup]="formPhotos" #form="ngForm">

  <mat-dialog-content>
    <div class="conten-form-field">

      <mat-form-field appearance="fill">
        <mat-label>Tile</mat-label>
        <input matInput formControlName="title" placeholder="title">
        @if (formPhotos.controls['title'].invalid) {
          <mat-error>* required field</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Url</mat-label>
        <input matInput formControlName="url" placeholder="url">
        @if (formPhotos.controls['url'].invalid) {
          <mat-error>* required field</mat-error>
        }
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>ThumbnailUrl</mat-label>
        <input matInput formControlName="thumbnailUrl" placeholder="thumbnailUrl">
        @if (formPhotos.controls['thumbnailUrl'].invalid) {
          <mat-error>* required field</mat-error>
        }
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="dialogRef.close();">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
