<div class="content-card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Post</mat-card-title>
      <mat-card-subtitle>Description Module Post</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="paragraph">
        Creating engaging posts involves clear, concise content paired with striking visuals. A well-crafted post can captivate audiences, drive interactions, and effectively communicate messages across various platforms.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onRedirectPost()">See more ...</button>
    </mat-card-actions>
  </mat-card>

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Photos</mat-card-title>
        <mat-card-subtitle>Description Module Photos</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="paragraph">
          Photos capture moments and memories, preserving them for future reflection. They tell stories, evoke emotions, and connect us to the past. Whether digital or printed, photos are powerful tools for documenting life's journey.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onRedirectPothos()">See more ...</button>
      </mat-card-actions>
    </mat-card>
</div>
